@import "../../../node_modules/dibs-styles/exports/grid";

.wrapper {
    display: block;
    background-color: #d3d3d3;
    padding: 10px;
}

.label {
    display: block;
}

.box {
    display: block;
}
